.article-box {
  max-width: 400px;
  padding: 15px;
  display: flex;
  flex-direction: column;

  @include media ('<small-desktop') {
    max-width: 50%;
  }

  @include media ('<tablet') {
    max-width: 100%;
  }

  @include media ('print') {
    display: block;
    max-width: none;
    width: 90%;
    max-width: none;
    page-break-inside: avoid;
  }

  &-name {
    font: 700 23px/24px $roboto;
    text-transform: uppercase;
    margin: 0;
    height: 45px;

    @include media ('print') {
      height: auto;
    }

    a {
      color: $grey;
      text-decoration: none;

      &:hover {
        opacity: .8;
      }
    }

    @include media ('<tablet') {
      font-size: 20px;
      line-height: 18px;
      height: 30px;
    }
  }

  &-date {
    color: $light-grey;
    font: 400 12px/24px $roboto;
    text-transform: uppercase;

  }

  &-image {
    margin-top: 12px;
    margin-bottom: 16px;

    &:hover {
      opacity: .8;
    }

    @include media ('<small-desktop') {
      width: 100%;
    }

    @include media ('<tablet') {
      margin: 10px 0;
      width: 100%;
    }

    @include media ('print') {
      width: 100%;
      margin: 0 auto;
    }

    img {
      width: 100%;
    }
  }

  &-text {
    color: $light-grey;
    font: 400 12px/14px $roboto;
    letter-spacing: .77px;
    flex: 1 0 auto;

    @include media ('<tablet') {
      height: auto;
    }
  }

  &-link {
    padding-right: 9px;
    color: $dark-orange;
    font: 400 12px/14px $roboto;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    flex: 0 0 auto;


    &:hover {
      opacity: .8;
    }

    @include media ('print') {
      display: none;
    }
  }
}