.grid {
  background: #EEE;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;

  @include media ('print') {
    width: 100%;
  }
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {

  height: 465px;
  position: relative;

  @include media ('<tablet') {
    height: 400px;
  }
}

.grid-item--width0 {
  width: 31%;

  @include media ('<widescreen') {
    width: 60%;
  }

  @include media ('<tablet') {
    width: 100%;
  }
}

.grid-item--width1 {
  width: 31%;

  @include media ('<widescreen') {
    width: 50%;
  }

  @include media ('<tablet') {
    width: 100%;
  }
}

.grid-item--width2 {
  width: 38%;

  @include media ('<widescreen') {
    width: 50%;
  }

  @include media ('<tablet') {
    width: 100%;
  }
}

.grid-item--width3 {
  width: 20%;

  @include media ('<widescreen') {
    width: 30%;
  }

  @include media ('<tablet') {
    width: 100%;
  }
}

.grid-item--width4 {
  width: 49%;

  @include media ('<widescreen') {
    width: 70%;
  }

  @include media ('<tablet') {
    width: 100%;
  }
}

.grid-item--width8 {
  width: 49%;

  @include media ('<widescreen') {
    width: 50%;
  }

  @include media ('<tablet') {
    width: 100%;
  }
}

.grid-item--width9 {
  width: 20%;

  @include media ('<widescreen') {
    width: 40%;
  }

  @include media ('<tablet') {
    width: 100%;
  }
}

.grid-item--width6 {
  width: 50%;
}

.grid-item--width5 {
  width: 69%;
}

.grid-item--width7 {
  width: 100%;
}

.grid-item--height0 {
  height: 250px;

  @include media ('<widescreen') {
    height: 350px;
  }

  @include media ('<tablet') {
    height: 250px;
  }
}

.grid-item--height1 {
  height: 250px;

  @include media ('<widescreen') {
    height: 465px;
  }

  @include media ('<tablet') {
    height: 400px;
  }

  @include media ('<phone') {
    height: 250px;
  }
}

.grid-item--height2 {
  height: 300px;

  @include media ('<widescreen') {
    height: 350px;
  }

  @include media ('<phone') {
    height: 300px;
  }
}

.grid-item--height6 {
  height: 390px;
}

.grid-item--height3 {
  height: 465px;

  @include media ('<tablet') {
    height: 310px;
  }
}

.grid-item--height4 {
  height: 500px;

  @include media ('<tablet') {
    height: 400px;
  }

  @include media ('<phone') {
    height: 280px;
  }
}

.grid-item--height5 {
  height: 645px;
}

.grid-item--height7 {
  height: 500px;

  @include media ('<tablet') {
    height: auto;
  }
}

.grid-item--height8 {
  height: 300px;

  @include media ('<widescreen') {
    height: 350px;
  }

  @include media ('<tablet') {
    height: auto
  }
}