.headline {
  background: $orange;
  height: 100%;
  position: relative;
  background: linear-gradient(to top left, $orange calc(50% - 1px), #fbeed6, $orange calc(50% + 1px));

  @include media ('print') {
    position: static;
  }

  @include media ('<tablet') {
    background: $orange;
  }

  .topic-name {
    color: #fff;
    text-transform: uppercase;
    font: 400 48px $roboto;
    position: absolute;
    bottom: 31%;
    right: 10%;
    margin: 0;

    @include media ('print') {
      position: static;
      padding: 0 15px;
    }
  }
}