.project-section {

  @include media ('print') {
    display: none;
  }

  .item {
    background-size: cover;
    height: 100%;
    position: relative;
  }

  .headline {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 15px;

    &:before {
      content: '';
      position: absolute;
      right: 100%;
      top: 0;
      height: 100%;
      background: $orange;
      width: 9999px;
    }

    .topic-name {
      bottom: 150px;
      right: 47px;

      @include media ('<small-desktop') {
        font-size: 32px;
      }

      @include media ('<tablet') {
        position: static;
        font-size: 32px;
        right: 15px;
        top: 10px;
      }
    }

    .menu-proj {
      position: absolute;
      font: 400 13px $roboto;
      padding: 0;
      bottom: 255px;
      left: 165px;
      margin: 0;
      @include media ('<1440px') {
        bottom: 255px;
        left: 150px;
      }
      @include media ('<tablet') {
        position: static;
        padding-left: 30px;
      }

      li {
        list-style: none;
      }

      a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 14px;
        position: relative;

        &:hover {
          color: #000;

          &:before {
            font-size: 20px;
            content: "\e900";
            position: absolute;
            left: -30px;
            color: #fff;
            font-family: $icomoon;
          }
        }

        &.active {
          color: #000;
          position: relative;

          &:before {
            font-family: $icomoon;
            font-size: 20px;
            content: "\e900";
            position: absolute;
            left: -30px;
            color: #fff;
          }
        }
      }
    }
  }

  .item-1 {
    background-color: #fefefe;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;

    @include media ('<=widescreen') {
      background-position: center right;
    }

    .item-1-container {
      padding-top: 82px;
      padding-left: 101px;


      @include media ('<=widescreen') {
        padding-left: 10%;
      }

      @include media ('<small-desktop') {
        padding: 30px 0 0 25px;
      }

      @include media ('<tablet') {
        padding-top: 20px;
        padding-left: 15px;
      }

      .link {
        margin-top: 72px;
        margin-left: 36px;
        position: relative;

        @include media ('<tablet') {
          margin-top: 10px;
          margin-left: 27px;
        }

        @extend .icon-right-arrow-white:before;

        &:before {
          font-family: $icomoon;
          position: absolute;
          left: -25px;
          top: 2px;
          content: "\e900";
          color: $orange;
        }

        a {
          text-decoration: none;

          &:hover {
            opacity: .6;
          }
        }
      }

      .rating {
        margin-top: 110px;
        margin-left: 12.7%;

        @include media ('<tablet') {
          margin-top: 10px;
          margin-left: 50px;
        }
      }
    }
  }

  .item-2 {

    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-color: #dfe0d9;

    @include media ('<desktop') {
      background-size: contain;
    }

    @include media ('>1500px') {
      &:before {
        content: '';
        position: absolute;
        left: 100%;
        top: 0;
        height: 100%;
        background: #dfe0d9;
        width: 9999px;
      }
    }

    .item-2-container {
      padding: 31px 0 0 42px;

      @include media ('<=widescreen') {
        padding-left: 25px;
      }

      @include media ('<tablet') {
        padding: 20px 0 0 15px;
      }

      .list {
        margin-top: -4px;
        margin-left: 1px;
      }

      .description {
        width: 152px;
        font: 300 12px/12px $roboto;
        margin-top: -10px;
        margin-left: 1px;
      }

      .link {
        margin-top: 10px;
        margin-left: 29px;
        position: relative;

        &:before {
          font-family: $icomoon;
          position: absolute;
          left: -25px;
          top: 2px;
          content: "\e900";
          color: $orange;
        }

        a {
          text-decoration: none;

          &:hover {
            opacity: .6;
          }
        }
      }

      .rating {
        margin-top: 21px;
        margin-left: 53px;

        @include media ('<tablet') {
          margin-top: 10px;
          margin-left: 50px;
        }

        .icon-heart-o:before {
          content: "\f08a";
        }
      }
    }
  }

  .item-5 {
    position: relative;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #e9eae2;

    @include media ('>1500px') {
      &:before {
        content: '';
        position: absolute;
        left: 100%;
        top: 0;
        height: 100%;
        background: #e9eae2;
        width: 9999px;
      }
    }

    @include media ('<widescreen') {
      background-size: contain;
    }



    @include media ('<tablet') {
      display: flex;
      align-items: flex-end;
    }

    .item-5-container {
      position: absolute;
      bottom: 29px;
      left: 60px;
      display: flex;

      @include media ('<desktop') {
        left: 15px;
        bottom: 10px;
      }

      @include media ('<tablet') {
        position: static;
        padding-left: 15px;
        margin: 0 auto;
      }

      .box {
        width: 160px;

        @include media ('<tablet') {
          max-width: 50%;
        }

        &:last-child {
          width: 205px;
          display: flex;
          vertical-align: text-top;
          margin-top: 35px;
          padding-left: 11%;

          @include media ('<tablet') {
            margin-top: 0px;
            display: block;
          }
        }
      }

      .link {
        margin-right: 9px;
        position: relative;

        @include media ('<phone') {
          margin-bottom: 10px;
        }

        &:before {
          font-family: $icomoon;
          position: absolute;
          left: -27px;
          top: 2px;
          content: "\e900";
          color: $orange;
        }

        a {
          text-decoration: none;

          &:hover {
            opacity: .6;
          }
        }
      }

      .rating {
        width: 40px;

        button {
          margin-bottom: -1px;
        }

        &-value {
          margin-right: 5px;
          margin-top: 2px;
        }

        @include media ('<tablet') {
          margin-left: 25px;
        }
      }
    }
  }

  .item-7 {
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    @include media ('>1500px') {
      &:before {
        content: '';
        position: absolute;
        right: 100%;
        top: 0;
        height: 100%;
        background: #fcfcfc;
        width: 9999px;
      }
    }

    @include media ('<tablet') {
      position: static;
      display: flex;
      align-items: flex-end;
    }

    .item-7-container {
      display: flex;
      position: absolute;
      bottom: 2px;
      left: 126px;
      
      @include media ('<widescreen') {
        left: 50%;
        transform: translateX(-50%);
      }

      @include media ('<tablet') {
        position: static;
        transform: none;
        padding-left: 15px;
        margin: 0 auto;
      }

      .title {
        margin-bottom: 5px;
      }

      .list {
        margin-bottom: 19px;
      }

      .rating {
        margin-left: 40px;
      }

      .box {
        width: 181px;
        margin-left: 26px;

        @include media ('<small-desktop') {
          margin-left: 20px;
        }

        @include media ('<tablet') {
          margin-left: 0;
          max-width: 60%;
        }

        &:last-child {
          width: 230px;
          display: flex;
          vertical-align: text-top;
          margin-top: 27px;
          padding-left: 30px;

          @include media ('<small-desktop') {
            display: inline;
            margin-top: 0px;
            padding-left: 15px;
            width: 130px;
          }

          @include media ('<tablet') {
            margin: 0;
            margin-left: 15px;
          }

          @include media ('<phone') {
            margin-left: 5px;
          }
        }

        .link {
          position: relative;
          margin-top: 1px;

          &:before {
            font-family: $icomoon;
            position: absolute;
            left: -25px;
            top: 2px;
            content: "\e900";
            color: $orange;
          }

          a {
            text-decoration: none;

            &:hover {
              opacity: .6;
            }
          }
        }
      }
    }
  }

  .item-3 {
    background-repeat: no-repeat;
    background-position: center right;
    position: relative;

    @include media ('>=1500px') {
      &:before {
        content: '';
        position: absolute;
        right: 100%;
        top: 0;
        height: 100%;
        background: url('../images/project_img3-bg.jpg');
        width: 9999px;
      }
    }

    .item-3-container {
      color: #fff;
      padding-top: 36px;
      padding-left: 31px;

      @include media ('<tablet') {
        padding-top: 20px;
        padding-left: 15px;
      }

      .title {
        color: #fff;
      }

      .link {
        margin-top: 34px;
        margin-left: 10%;
        position: relative;

        @include media ('<tablet') {
          margin-top: 10px;
          margin-left: 27px;
        }

        &:before {
          font-family: $icomoon;
          position: absolute;
          left: -25px;
          top: 2px;
          content: "\e900";
          color: $orange;
        }

        a {
          text-decoration: none;
          color: #fff;

          &:hover {
            opacity: .6;
          }
        }
      }

      .rating {
        margin-top: 25px;
        margin-left: 23%;

        @include media ('<tablet') {
          margin-top: 10px;
          margin-left: 50px;
        }

        .icon {
          color: #fff;
        }
      }
    }
  }

  .item-4 {
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #eaeaea;
  }

  .item-4-container {
    display: flex;
    position: absolute;
    top: 87px;
    right: 36px;

    @include media ('<tablet') {
      top: 15px;
    }

    .box {
      width: 170px;

      @include media ('<tablet') {
        width: 150px;
      }

      &:last-child {
        margin-top: 5px;

        @include media ('<tablet') {
          width: 138px;
          margin-top: 0;
        }

        @include media ('<phone') {
          width: 125px;
          margin-top: 0;
        }
      }

      .link {
        position: relative;
        margin-left: 20%;

        &:before {
          font-family: $icomoon;
          position: absolute;
          left: -25px;
          top: 2px;
          content: "\e900";
          color: $orange;
        }

        a {
          text-decoration: none;

          &:hover {
            opacity: .6;
          }
        }
      }
    }

    .rating {
      margin-top: 20px;
      margin-left: 58px;

      &-value {
        margin-right: 1px;
      }

      button {
        padding-bottom: 3px;
      }
    }
  }

  .item-6 {
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 15px 0 0;

    .item-6-container {
      position: absolute;
      top: 46px;
      right: 48px;
      width: 170px;

      @include media ('<small-desktop') {
        right: 5px;
        width: 160px;
      }

      @include media ('<tablet') {
        position: static;
      }

      .link {
        margin-top: 23px;
        margin-left: 32px;
        position: relative;

        &:before {
          font-family: $icomoon;
          position: absolute;
          left: -25px;
          top: 2px;
          content: "\e900";
          color: $orange;
        }

        a {
          text-decoration: none;

          &:hover {
            opacity: .6;
          }
        }
      }

      .rating {
        margin-top: 18px;
        margin-left: 63px;
      }
    }
  }

  .item-8 {
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .item-8-container {
    position: absolute;
    bottom: 37px;
    right: -3px;
    width: 170px;

    @include media ('<tablet') {
      position: static;
      padding: 15px 15px 0 0;
    }

    .title {
      margin-left: 25px;
    }

    .list {
      margin-left: 25px;
    }

    .link {
      margin-top: 29px;
      margin-left: 12%;
      position: relative;

      &:before {
        font-family: $icomoon;
        position: absolute;
        left: -25px;
        top: 2px;
        content: "\e900";
        color: $orange;
      }

      a {
        text-decoration: none;

        &:hover {
          opacity: .6;
        }
      }
    }

    .rating {
      margin-top: 20px;
      margin-left: 51px;

      .rating-value {
        margin-right: 2px;
      }
    }
  }

  .holder {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;

    @include media('>=widescreen') {
      @include background-svg("<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><line x1='0' y1='100%' x2='59%' y2='0' stroke='#FFFFFF' stroke-width='1'/></svg>");
      width: calc(100%);
      height: 300px;
    }

    @include media ('<widescreen') {
      @include background-svg("<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><line x1='0' y1='100%' x2='59%' y2='0' stroke='#FFFFFF' stroke-width='1'/></svg>");
      height: 350px;
      width: calc(100%);
    }

    @include media ('<tablet') {
      background-image: none;
      height: 100%;
      padding: 15px;
    }

  }

  .item-list {
    height: 100%;
    background: $orange;

    @include media ('>=1500px') {
      &:before {
        content: '';
        position: absolute;
        left: 100%;
        top: 0;
        height: 100%;
        background: $orange;
        width: 9999px;
      }
    }

    @include media ('<tablet') {
      width: 100%;
      overflow: auto;
    }

    .menu-title {
      font-family: $roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      text-transform: uppercase;
      padding-top: 58px;
      margin-left: 101px;
      margin-bottom: 5px;

      @include media ('<tablet') {
        padding-top: 0px;
        margin-left: 41px;
      }
    }

    .menu {
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 21.6%;

      @include media ('<tablet') {
        margin-left: 30px;
      }

      .active {
        &:before {
          font-family: 'icomoon';
          content: "\e900";
          position: absolute;
          left: -28px;
          color: #fff;
          font-size: 20px;
        }
      }

      li {
        list-style: none;
        line-height: 14px;
        position: relative;
      }

      a {
        text-decoration: none;
        color: #fff;
        font-size: 13px;
        font-family: $roboto;
        font-weight: 400;
        margin: 0;
        position: relative;

        &:hover {
          &:before {
            position: absolute;
            font-family: 'icomoon';
            left: -28px;
            content: "\e900";
            color: #fff;
            font-size: 20px;
          }
        }
      }
    }
  }
}

.title {
  font: 300 24px $roboto;
  display: block;
  text-transform: uppercase;
  color: $grey;
  margin-bottom: 12px;

  @include media ('<tablet') {
    font-size: 18px;
  }
}