.link {
  a {
    font: 300 18px $roboto;
    color: $grey;
    text-decoration: none;
    text-transform: uppercase;

    @include media ('<phone') {
      font-size: 16px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}