.list {
  font: 300 12px/12px $roboto;
  letter-spacing: 0.12px;
  text-transform: uppercase;
  margin-top: 0;

  dt {
    float: left;
    font-weight: 700;
    margin-right: 3px;
  }

  dd {
    margin-left: 0;
  }
}