.map-box {
  position: relative;
  width: 50%;
  height: auto;

  @include media ('<tablet') {
    width: 100%;
    height: 300px;
  }

  .map-placeholder {
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }

  #map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;

    @include media ('<tablet') {
      width: 100%;
    }

    @include media ('print') {
      display: none;
    }
  }
}