.menu-btn {
  cursor: pointer;
  width: 127px;
  height: 122px;
  padding: 48px 41px;
  display: inline-block;
  border: 3px solid $semi-grey;
  position: relative;
  z-index: 99;
  background: transparent;
  outline: none;

  @include media ('<=widescreen') {
    padding: 35px;
    width: auto;
    height: auto;
  }

  @include media ('<tablet') {
    padding: 20px;
    background: $green;
  }

  @include media ('print') {
    display: none;
  }

  .btn-line {
    width: 40px;
    height: 3px;
    margin: 0 0 4px 0;
    background: $semi-grey;
    display: block;
  }
}

.show {
  visibility: visible;
  transform: translateX(0%);
  animation: move 2s ease-out;

  @include media ('<tablet') {
    transform: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 99;
    transform: none;
    animation: move .5s ease-out;
  }
}

@keyframes move {
  0% {
    opacity: 0.3;
  }

  20% {
    opacity: 1;
  }
}

.close {
  background: $orange;
  border: none;
  z-index: 100;

  .btn-line {
    &:nth-child(1) {
      transform: rotate(45deg) translate(3px, 4px);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px);
    }
  }
}