.modal-window {
	display: none;
	font: 300 14px $roboto;
	background-color: #fefefe;

	.thumbs {
		@include media ('<tablet') {
			display: none;
		}
	}

	.social {
		margin-top: 80px;
		text-align: center;

		@include media('<tablet') {
			margin-top: 25px;
		}

		&-icon {
			color: $grey;
		}
	}
}

.row {
	display: flex;
	align-items: center;
	max-width: 1024px;
	margin: 0 auto;

	@include media ('<tablet') {
		flex-direction: column;
	}

	.info-box {
		width: 50%;

		@include media ('<tablet') {
			order: 2;
			width: 100%;
		}

		.description {
			margin: 50px 0;

			@include media ('<tablet') {
				margin: 10px 0;
			}
		}
	}

	.image-box {
		width: 50%;
		
		@include media ('<tablet') {
			width: 100%;
			img {
				height: 200px;
			}
		}
		
	}
}

.fancybox-content {
	height: 100vh;
	width: 100vw;
	padding: 80px 40px;

	@include media ('<tablet') {
		padding: 40px 20px;
	}
}

.fancybox-slide--html {
	padding: 0;
}

.fancybox-close-small {
	margin: 30px 50px;
	border: 1px solid $grey;

	@include media ('<tablet') {
		margin: 10px 10px;
	}
}

.fancybox-button {
	width: 60px;
	height: 60px;

	@include media ('<tablet') {
		width: 40px;
		height: 40px;
	}

}