.news-section {
  background: #e5e9df;

  @include media ('print') {
    page-break-before: always;
  }

  .wrap {
    display: flex;

    @include media ('print') {
      display: block;
    }

    @include media ('<small-desktop') {
      flex-direction: column;
    }
  }

  .headline {
    background: $light-green;
    position: relative;
    width: 31%;
    height: 500px;
    background: linear-gradient(to top left, $light-green calc(50% - 1px), #fbfefa, $light-green calc(50% + 1px));

    @include media ('<small-desktop') {
      width: 100%;
      height: auto;
      background: $light-green;
    }

    @include media ('<phone') {
      width: 100%;
    }

    @include media ('print') {
      height: auto;
    }

    &:before {
      content: '';
      position: absolute;
      right: 100%;
      top: 0;
      height: 100%;
      background: $light-green;
      width: 9999px;

      @include media ('print') {
        display: none;
      }
    }

    .topic-name {
      right: 29.2%;
      bottom: 31.5%;

      @include media ('<small-desktop') {
        font-size: 32px;
        position: static;
        text-align: center;
        padding: 20px 0;
      }

      @include media ('print') {
        position: static;
        clear: both;
      }
    }
  }

  .container {
    width: 69%;
    display: flex;

    padding: 64px 86px 38px;

    @include media ('<small-desktop') {
      padding: 35px 0;
      width: 100%;
      align-items: center;
    }

    @include media ('<tablet') {
      flex-direction: column;
      padding: 15px 0;
    }

    @include media ('print') {
      display: block;
      width: 95%;
    }
  }
}