.rating {
  text-align: center;
  
  width: 40px;

  &:hover {
    cursor: pointer;
  }

  button {
    background: transparent;
    border: none;
    outline: none;

    &:hover {
      opacity: .6;
    }
  }

  .icon {
    font-size: 24px;
    color: $grey;
  }

  &-value {
    font: 400 11px $roboto;
    color: $pink;
    display: block;
    text-align: center;
  }
}