.slider-thumbs.swiper-container {
	max-width: 330px;
	display: flex;
}

.slider-thumbs .swiper-slide {
	width: 50%;
	height: 100%;
	opacity: 0.4;
	display: flex;
	justify-content: center;
}

.slider-thumbs .swiper-slide-thumb-active {
	opacity: 1;
}

.swiper-button-next {
	right: 1px;
	z-index: 99;
	outline: none;
}

.swiper-button-prev {
	left: 1px;
	z-index: 99;
	outline: none;
	transform: rotate(180deg);
}

.swiper-button-prev,
.swiper-button-next {
	background-image: none;
	font-size: 38px;

	&:hover {
		opacity: .8;
	}

	@include media ('<phone') {
		display: none;
	}
}