.studio-section {
  background: #e9eae2;

  .wrap {
    display: flex;

    @include media ('<small-desktop') {
      flex-direction: column;
    }

    @include media ('print') {
      display: block;
    }
  }

  .headline {
    background: $light-orange;
    width: 31%;
    height: 500px;
    position: relative;
    background: linear-gradient(to top left, $light-orange calc(50% - 1px), #fff6f1, $light-orange calc(50% + 1px));

    @include media ('<small-desktop') {
      background: $light-orange;
      width: 100%;
      height: auto;
    }

    @include media ('print') {
      position: static;
      clear: both;
      height: auto;
    }

    &:before {
      content: '';
      position: absolute;
      right: 100%;
      top: 0;
      height: 100%;
      background: $light-orange;
      width: 9999px;
    }

    .topic-name {
      right: 105px;
      bottom: 158px;

      @include media ('<small-desktop') {
        font-size: 32px;
        position: static;
        text-align: center;
        padding: 20px 0;
      }

      @include media ('print') {
        display: block;
        width: 100%;
        position: static;
        padding-top: 15px;
      }
    }
  }

  .container {
    display: flex;
    padding-top: 92px;
    width: 69%;

    @include media ('<widescreen') {
      justify-content: center;
    }

    @include media ('<small-desktop') {
      justify-content: space-between;
      width: 100%;
      padding-top: 50px;
    }

    @include media ('<tablet') {

      padding-top: 15px;
      flex-direction: column;
      margin: 0 auto;
    }

    @include media ('print') {
      display: block;
      width: 100%;
      padding-top: 15px;
    }

    .text-column {
      max-width: 389px;
      color: $grey;
      font-family: $roboto;
      font-size: 18px;
      margin-left: 101px;
      padding: 0 15px;

      @include media ('<widescreen') {
        margin-left: 0px;
      }

      @include media ('<small-desktop') {
        max-width: none;
        width: 55%;
        margin: 0;
      }

      @include media ('<tablet') {
        width: 100%;
        font-size: 14px;
        padding: 15px;
      }

      @include media ('print') {
        max-width: none;
        width: 100%;
        padding-bottom: 15px;
        margin-left: 0;
      }
    }

    .strong-text {
      font: italic 400 18px/18px $roboto;
      margin-bottom: 38px;

      @include media ('<tablet') {
        margin-bottom: 15px;
        font-size: 14px;
      }
    }

    .text {
      font-weight: 300;
      line-height: 16px;
      margin-bottom: 15px;

      @include media ('<tablet') {
        margin-bottom: 10px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .content-box {
    max-width: 390px;
    padding: 3px 14px;
    color: $grey;
    font-family: $roboto;

    @include media ('<small-desktop') {
      max-width: 420px;
      padding: 0px 15px;
    }

    @include media ('<tablet') {
      max-width: 100%;
      padding-top: 15px;
    }

    @include media ('print') {
      width: 100%;
      max-width: none;
    }

    img {

      @include media ('<tablet') {
        width: 100%;
      }

      @include media ('print') {
        width: 100%;
      }
    }

    .head-text {
      margin-left: 6px;
      margin-top: 36px;
      display: block;
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      text-transform: uppercase;
      position: relative;

      @include media ('<small-desktop') {
        margin-top: 30px;
      }

      @include media ('<tablet') {
        margin-top: 15px;
        margin-left: 0;
      }


      &:before {
        content: "";
        position: absolute;
        bottom: -2px;
        max-width: 350px;
        width: 100%;
        height: 1px;
        background: #000;
        opacity: 0.18;

        @include media ('<tablet') {
          max-width: 100%;
        }

        @include media ('print') {
          max-width: none;
          width: 100%;
        }

      }
    }

    .description {

      columns: 2;
      column-gap: 46px;
      margin-top: 25px;
      margin-left: 1px;

      @include media ('<tablet') {
        margin-top: 15px;
        margin-left: 0px;
      }

      p {
        font: 400 12px/14px $roboto;
        color: $grey;
        text-transform: uppercase;
      }
    }
  }

  .row {
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
    justify-content: center;
    padding: 60px 0 65px;

    @include media ('<small-desktop') {
      padding: 50px 0 35px;
      flex-direction: column;
    }

    @include media ('<tablet') {
      padding: 0px 0 15px;
      flex-direction: column;
    }

    @include media ('print') {
      display: block;
      max-width: none;
      width: 100%;
    }

    .text-column {
      font: 300 14px/17px $roboto;
      margin: 0;
      padding: 0 15px;
      color: $grey;
      width: 290px;
      margin-right: 0px;

      @include media ('<widescreen') {
        padding: 15px;
      }

      p {
        margin-bottom: 20px;

        @include media ('<small-desktop') {
          margin-bottom: 0;
          line-height: 20px;
        }
      }

      @include media ('print') {
        width: 100%;
      }

      @include media ('<small-desktop') {
        width: 100%;
        padding-bottom: 15px;
      }

      .title {
        font: 400 14px/18px $roboto;
        display: block;
        text-transform: uppercase;
        margin-bottom: 15px;
        margin-top: 2px;

        @include media ('<tablet') {
          margin-bottom: 5px;
        }
      }
    }

    .links-container {
      display: flex;
      justify-content: space-between;
      align-content: center;

      @include media ('print') {
        display: none;
      }

      .cv {
        text-transform: uppercase;
        margin-left: 1px;

        a {
          text-decoration: none;
          color: #fd5000;
          font-family: $roboto;
          font-weight: 400;
          position: relative;

          @include media ('<tablet') {
            font-size: 14px;
          }

          &:before {
            font-family: $icomoon;
            position: absolute;
            content: "\e900";
            left: 25px;
            transform: rotate(180deg)
          }

          &:hover {
            opacity: .8;
          }
        }
      }

      .social {
        margin-top: 2px;
        margin-right: -6px;

        &-icon {
          font-size: 14px;
          color: #fd5000;
          padding-right: 10px;

          @include media ('<tablet') {
            font-size: 14px;
          }

          &:hover {
            opacity: .6;
          }
        }
      }
    }

    .box {
      display: flex;

      @include media ('<small-desktop') {
        width: 100%;
      }

      @include media ('<tablet') {
        flex-direction: column;

      }

      @include media ('print') {
        display: block;
        width: 100%;
      }
    }

    .info-box {
      padding: 0 10px 32px 21px;

      @include media ('<tablet') {
        max-width: 100%;
        padding: 15px;
      }

      @include media ('print') {
        page-break-inside: avoid;
        width: 100%;
      }

      img {
        margin-bottom: 13px;

        @include media ('<small-desktop') {
          width: 100%;
        }

        @include media ('print') {
          width: 100%;
        }
      }

      .name {
        margin-top: -1px;
        margin-bottom: 0;
        color: $grey;
        font: 700 13px/16px $roboto;
        text-transform: uppercase;
      }

      .position {
        color: #464745;
        margin-left: 2px;
        font: 400 13px/16px $roboto;
        text-transform: uppercase;

        @include media ('<tablet') {
          margin-bottom: 5px;
        }
      }
    }
  }
}