// This is base reset for global components.
//
// Note: If you use a framework that includes base styling then you need to remove this file.

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

@include media('print') {
  * {
      background: none !important;
      color: #000 !important;
  }
}

body {
  @include font-smoothing(on);
  color: map-get($base, 'base-text-color');
  background: map-get($base, 'base-background-color');
  font: #{map-get($base, 'base-font-size')}/#{map-get($base, 'base-line-height')} #{map-get($base, 'base-font-family')};
  min-width: map-get($base, base-min-width);
}

// adaptive images
img {
  max-width: 100%;
  height: auto;
}

// google map fix
.gm-style img {max-width: none;}

// hide tel links on desktop
@media only screen and (min-width: 1025px) {
    a[href^="tel"], a[href^="skype"], a[href^="sms"] {
    cursor: default;
    pointer-events: none;
  }
}