@font-face {
  font-family: 'icomoon';
  src:
    url("../fonts/icomoon.woff") format("woff"),
    url('fonts/icomoon.svg?jkpkm7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-another-side-arrow:before {
  content: "\e903";
}

.icon-slider-arrow:before {
  content: "\e902";
  color: $grey;
  font-family: $icomoon;
}
.icon-google-plus-logo:before {
  content: "\e901";
}
.icon-right-arrow-white:before {
  content: "\e900";
  color: #fff;
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}