// Global variables
//
// Base font styles for headings and links.

$orange: #ebb240;
$grey: #333;
$light-grey: #6a6969;
$semi-grey: #e9eae2;
$pink: #ff6b6b;
$green: #7acec3;
$light-orange: #ff9b6d;
$dark-orange: #fd5000;
$light-green: #d4edbf;

$roboto: 'Roboto Condensed', sans-serif;
$icomoon: 'icomoon';
// For headers
$headings: (
  'sizes': (
    'h1-font-size': 30px,
    'h2-font-size': 27px,
    'h3-font-size': 24px,
    'h4-font-size': 21px,
    'h5-font-size': 17px,
    'h6-font-size': 15px
  ),
  'fonts': (
    'headings-font-family': inherit,
    'headings-color': inherit
  )
);

// Global vars for body typography
$base: (
  'base-font-sans-serif': unquote("Arial, 'Helvetica Neue', Helvetica, sans-serif"),
  'base-font-serif': unquote("'Times New Roman', Times, Baskerville, Georgia, serif"),
  'base-text-color': #000,
  'base-background-color': #fff,
  'base-link-color':#39f,
  'base-font-size': 16px,
  'base-line-height': 1.2,
  'base-font-family': $roboto,
  'base-min-width': 320px
);

// Vars for forms
$forms: (
  'form-font-family': unquote("Arial, 'Helvetica Neue', Helvetica, sans-serif"),
  'form-element-padding': unquote("0.4em 0.7em"),
  'form-element-border-color': #999,
  'form-element-focus-border-color': #000,
  'placeholder-color': #999
);

// Breakpoints for include media mixin
$breakpoints: (
  'phone': 480px,
  'tablet': 768px,
  'small-desktop': 980px,
  'desktop': 1024px,
  'widescreen': 1366px
);

// Keywords for include media mixin
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);
