.footer {
  background: #e9eae2;

  @include media ('print') {
    height: auto;
  }

  .wrap {
    height: 645px;
    display: flex;

    @include media ('<=desktop') {
      height: 465px;
    }

    @include media ('<tablet') {
      flex-direction: column;
      height: auto
    }

    @include media ('print') {
      display: block;
      height: auto;
    }
  }

  .side-section {

    width: 50%;
    position: relative;

    @include media ('<tablet') {
      width: 100%;
    }

    @include media ('print') {
      width: 100%;
      height: auto;
      position: static;
      text-align: center;
    }

    .container {
      display: flex;
      justify-content: space-between;

      .logo {
        padding-top: 151px;
        padding-right: 170px;

        @include media ('<=widescreen') {
          padding-top: 40px;
          padding-right: 15px;
        }

        @include media ('print') {
          display: none;
        }

        img {

          @include media ('<=desktop') {
            width: 120px;
          }

          @include media ('<tablet') {
            width: 90px;
          }

          @include media ('print') {
            display: none;
          }
        }

        a {
          text-decoration: none;
          height: 100%;
          width: 100%;

          &:hover {
            opacity: .8;
          }
        }
      }

      .social {
        padding-left: 17px;
        padding-top: 3.5rem;

        @include media ('<=desktop') {
          padding-top: 15px;
          padding-left: 0px;
        }

        @include media ('<phone') {
          padding-top: 1rem;
          padding-left: 0px;
        }


        @include media ('print') {
          display: none;
        }

        &-icon {
          font-size: 24px;
          padding-right: 10px;

          @include media ('<=desktop') {
            font-size: 18px;
          }

          @include media ('<tablet') {
            font-size: 16px;
          }
        }
      }

      .info-box-container {
        padding-top: 149px;
        padding-left: 119px;

        @include media ('<=widescreen') {
          padding-top: 40px;
          padding-left: 15px;
        }

        @include media ('print') {
          display: none;
        }

        .coordinates {
          font: normal 400 13px/14px $roboto;
          text-transform: uppercase;
          color: $grey;

          @include media ('print') {
            display: none;
          }
        }

        .contacts {
          padding: 0;
          margin: 0;
          line-height: 14px;
          padding-top: 14px;

          li {
            list-style: none;
          }

          a {
            font: normal 400 13px $roboto;
            text-transform: uppercase;
            color: $grey;
            text-decoration: none;

            &:hover {
              opacity: .6;
            }

            @include media ('<phone') {
              font-size: 12px;
            }
          }
        }
      }
    }

    .copy {
      color: #191919;
      font: 400 12px/21.6px $roboto;
      display: block;
      position: absolute;
      bottom: 49px;
      left: 18%;
      letter-spacing: 0.5px;

      @include media ('<desktop') {
        position: static;
        padding-left: 15px;
        padding-top: 140px;
      }

      @include media ('<tablet') {
        padding-top: 25px;
        padding-bottom: 25px;
      }

      @include media ('print') {
        display: block;
        position: static;
        text-align: center;
      }
    }
  }
}