.header {
  @include media ('print') {
    height: auto;
  }

  .wrap {
    display: flex;
    justify-content: space-between;
    position: relative;

    @include media ('<tablet') {
      flex-direction: column;
    }

    @include media ('print') {
      display: block;
      position: static;
      height: inherit;
      width: 100%;
      height: auto;
    }
  }

  .item-header {

    width: 69%;
    height: auto;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;

    @include media ('>=1500px') {
      &:before {
        content: '';
        position: absolute;
        right: 100%;
        top: 0;
        height: 100%;
        background: #e9eae2;
        width: 9999px;
      }
    }

    @include media ('<=desktop') {
      height: 350px;
    }

    @include media ('<tablet') {
      width: 100%;
      height: 300px;
    }

    @include media ('<phone') {
      height: 250px;
    }

    @include media ('print') {
      display: block;
      position: static;
      height: auto;
      float: left;
      clear: both;
      width: 50%;
    }
  }

  .headline {
    position: relative;
    background: $green;
    width: 31%;
    height: 500px;
    background: linear-gradient(to top left, $green calc(50% - 1px), #cce3da, $green calc(50% + 1px));

    @include media ('<=desktop') {
      height: 350px;
    }

    @include media ('<tablet') {
      width: 100%;
      height: auto;
      background: $green;
      padding: 15px;
      position: static;
      display: flex;
      justify-content: space-between;
    }

    @include media ('print') {
      background: none;
      position: static;
      width: 50%;
      height: auto;
      display: block;
      float: right;

    }

    @include media ('>=1500px') {
      &:before {
        content: '';
        position: absolute;
        left: 100%;
        top: 0;
        height: 100%;
        background: $green;
        width: 9999px;

        @include media ('print') {
          display: none;
        }
      }
    }
  }

  .navigation-container {
    position: relative;
    top: 3rem;
    left: 37%;

    @include media ('print') {
      display: none;
    }

    @include media ('<=widescreen') {
      left: 32%;
    }

    @include media ('<=desktop') {
      top: 1rem;
      left: 18%;
    }

    @include media ('<tablet') {
      top: 15px;
      left: 80%;
      position: absolute;
    }

    @include media ('<phone') {
      left: 70%;
    }
  }

  .logo {
    margin-left: 10.5rem;
    padding-top: 3.1rem;
    max-width: 165px;

    @include media ('<=widescreen') {
      margin-left: 3rem;
    }

    @include media ('<=desktop') {
      padding-top: 1rem;
    }

    @include media ('<phone') {
      margin-left: 15px;
      padding-top: 1rem;
    }

    @include media ('print') {
      margin-left: 0;
      padding-top: 15px;
      padding-left: 15px;
    }

    img {
      @include media ('<=desktop') {
        width: 110px;
      }

      @include media ('<phone') {
        width: 90px;
      }
    }

    a {
      text-decoration: none;
      height: 100%;
      width: 100%;

      &:hover {
        opacity: .8;
      }
    }
  }

  .social {
    padding-left: 11.5rem;
    padding-top: 3.5rem;

    @include media ('<=widescreen') {
      padding-top: 1rem;
      padding-left: 3rem;
    }

    @include media ('<tablet') {
      padding-bottom: 1rem;
    }

    @include media ('<phone') {
      padding-top: 1rem;
      padding-left: 1rem;
    }

    @include media ('print') {
      display: none;
    }

    &-icon {
      font-size: 24px;
      padding-right: 10px;

      @include media ('<=desktop') {
        font-size: 18px;
      }

      @include media ('<tablet') {
        padding-right: 5px;
        font-size: 16px;
      }
    }
  }

  .coordinates {
    font: 400 13px $roboto;
    text-transform: uppercase;
    color: #edf8f7;
    font-style: normal;
    position: absolute;
    bottom: 170px;
    left: 12.8%;
    line-height: 14px;

    @include media ('print') {
      position: static;
      margin: 0;
      padding-left: 15px;
      padding-top: 15px;
    }

    @include media ('<widescreen') {
      left: 8%;
    }

    @include media ('<=desktop') {
      bottom: 150px;
    }

    @include media ('<tablet') {
      font-size: 12px;
      position: static;
    }
  }

  .contacts {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 100px;
    left: 136px;
    line-height: 14px;

    @include media ('print') {
      position: static;
      padding-left: 15px;
      padding-top: 15px;
    }

    @include media ('<=desktop') {
      left: 38%;
    }

    @include media ('<tablet') {
      position: static;
    }

    li {
      list-style: none;

      @include media ('<tablet') {
        line-height: 15px;
      }
    }

    a {
      font: normal 400 13px/14px $roboto;
      text-transform: uppercase;
      color: #fff;
      text-decoration: none;

      &:hover {
        opacity: .6;
      }
    }
  }
}