.nav-menu {
    background: $orange;
    transform: translateX(250%);
    transition: .1s ease-out;
    position: absolute;
    margin: 0;
    height: 122px;
    top: 0px;
    left: -719px;
    padding: 0;
    visibility: hidden;
    z-index: 99;

    @include media ('<=widescreen') {
        height: 91px;
        left: -525px;
    }

    @include media ('<tablet') {
        position: absolute;
        left: 0;
        top: 0;
        transform: translate3d(0, -250%, 0);
        height: auto;
        overflow: auto;
    }

    @include media ('print') {
        display: none;
    }

    &-list {
        padding: 0;
        display: inline-flex;

        @include media ('<tablet') {

            display: flex;
            justify-content: center;

            &:first-child {
                margin-top: 70px;
            }
        }

        a {
            padding: 47px;
            font: 400 16px $roboto;
            color: #fff;
            text-decoration: none;

            text-transform: uppercase;

            @include media ('<=widescreen') {
                padding: 35px 25px;
            }

            @include media ('<tablet') {
                padding: 10px;
            }

            &:hover {
                color: #000;
            }
        }
    }
}